# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask / Python environment
*.env
*.venv
*.venv310/
venv/
venv310/
ENV/
env/
.venv/
.venv310/
.env/

# Jupyter Notebook checkpoints (por si pruebas notebooks)
.ipynb_checkpoints

# Face embeddings / modelos pesados

*.npz
*.h5
*.tflite

# Videos o imágenes capturados
*.jpg
*.jpeg
*.png
*.mp4
*.avi

# Logs
*.log

# System files (macOS, Windows, Linux)
.DS_Store
Thumbs.db

# IDE / editor configs
.vscode/
.idea/
*.swp